<div class="container">
  <h1 id="title">ui-responsive</h1>
  <h2>Responsive tools for your Ember app</h2>

  <div class="col-xs-12 col-sm-5">
    <img src='/images/tomster-construction.png'>
  </div>
  <div class="col-xs-12 col-sm-7">
    <h3>Resources</h3>
    <ul>
      <li><a href="">GitHub Repo</a></li>
      <li><a href="tests?nocontainer">Unit tests</a></li>
    </ul>
  </div>
  <div class="col-xs-12">
    <h3>Responsive Data</h3>
    <div class="row downer">
      <div class="col-xs-3">width:</div>
      <div class="col-xs-9">{{responsive.width}}</div>
    </div>
    <div class="row downer">
      <div class="col-xs-3">Height:</div>
      <div class="col-xs-9">{{responsive.height}}</div>
    </div>
    <div class="row downer">
      <div class="col-xs-3">Screen:</div>
      <div class="col-xs-9 smaller">{{screenJson}}</div>
    </div>
    <div class="row downer">
      <div class="col-xs-3">Body:</div>
      <div class="col-xs-9 smaller">{{bodyJson}}</div>
    </div>
    <div class="row downer">
      <div class="col-xs-3">deviceType:</div>
      <div class="col-xs-9 ">{{responsive.deviceType}}</div>
    </div>
    <div class="row downer">
      <div class="col-xs-12">Flags:</div>
    </div>
    <div class="row downer">
      <div class="col-xs-1"> </div>
      <div class="col-xs-2 smaller">isMobile</div>
      <div class="col-xs-9 smaller">{{responsive.isMobile}}</div>
    </div>
    <div class="row downer">
      <div class="col-xs-1"> </div>
      <div class="col-xs-2 smaller">isTablet</div>
      <div class="col-xs-9 smaller">{{responsive.isTablet}}</div>
    </div>
    <div class="row downer">
      <div class="col-xs-1"> </div>
      <div class="col-xs-2 smaller">isDesktop</div>
      <div class="col-xs-9 smaller">{{responsive.isDesktop}}</div>
    </div>
    <div class="row downer">
      <div class="col-xs-1"> </div>
      <div class="col-xs-2 smaller">isLarge</div>
      <div class="col-xs-9 smaller">{{responsive.isLarge}}</div>
    </div>
    <div class="row downer">
      <div class="col-xs-1"> </div>
      <div class="col-xs-2 smaller">isHuge</div>
      <div class="col-xs-9 smaller">{{responsive.isHuge}}</div>
    </div>
    {{! NEGATIONS }}
    <div class="row downer">
      <div class="col-xs-12">Negations:</div>
    </div>
    <div class="row downer">
      <div class="col-xs-1"> </div>
      <div class="col-xs-3 col-sm-2 smaller">notMobile</div>
      <div class="col-xs-8 col-sm-7 smaller">{{responsive.notMobile}}</div>
    </div>
    <div class="row downer">
      <div class="col-xs-1"> </div>
      <div class="col-xs-3 col-sm-2 smaller">notTablet</div>
      <div class="col-xs-8 col-sm-7 smaller">{{responsive.notTablet}}</div>
    </div>
    <div class="row downer">
      <div class="col-xs-1"> </div>
      <div class="col-xs-3 col-sm-2 smaller">notDesktop</div>
      <div class="col-xs-8 col-sm-7 smaller">{{responsive.notDesktop}}</div>
    </div>
    <div class="row downer">
      <div class="col-xs-1"> </div>
      <div class="col-xs-3 col-sm-2 smaller">notLarge</div>
      <div class="col-xs-8 col-sm-7 smaller">{{responsive.notLarge}}</div>
    </div>
    <div class="row downer">
      <div class="col-xs-1"> </div>
      <div class="col-xs-2 smaller">notHuge</div>
      <div class="col-xs-9 smaller">{{responsive.notHuge}}</div>
    </div>


    {{! GROUPINGS }}
    <div class="row downer">
      <div class="col-xs-12">Groups:</div>
    </div>
    <div class="row downer">
      <div class="col-xs-1"> </div>
      <div class="col-xs-2 smaller"><i>biggerThanTablet</i></div>
      <div class="col-xs-9 smaller">{{responsive.biggerThanTablet}}</div>
    </div>
    <div class="row downer">
      <div class="col-xs-1"> </div>
      <div class="col-xs-2 smaller"><i>biggerThanDesktop</i></div>
      <div class="col-xs-9 smaller">{{responsive.biggerThanDesktop}}</div>
    </div>
    <div class="row downer">
      <div class="col-xs-1"> </div>
      <div class="col-xs-2 smaller"><i>smallerThanDesktop</i></div>
      <div class="col-xs-9 smaller">{{responsive.smallerThanDesktop}}</div>
    </div>
  </div>
  <div class="col-xs-12">
    <h3>Registering a Callback</h3>
    As of version 0.3.0 you can register a callback function to be notified when the screen has changed. This would most likely be done in the <b>init()</b> hook, something like:

<pre><code>  init() {
    this._super(...arguments);
    run.schedule('afterRender', ()=> {
      this.get('responsive').register(this.windowDidChange, this);
    });
  },</code></pre>
  <p>
    This would ensure that the <b>windowDidChange()</b> method was called every time the viewport size changed. this may seem a little contrived as you'd think you set a computed property or observer to watch the height and/or width but in fact something seems to break in the observation system when observing these properties so this is a work-around for now.
  </p>
  </div>
</div>
